Source: sunuo
Section: games
Priority: optional
Maintainer: Max Kellermann <max@duempel.org>
Standards-Version: 3.6.1
Build-Depends-Indep: cdbs (>= 0.4.26), debhelper (>= 4.9.1), cli-common (>= 0.1.3), mono-mcs (>= 1.1.7), xsltproc, docbook-xsl

Package: sunuo
Architecture: all
Depends: mono (>= 1.1.7), libgdiplus (>= 1.1.7), debconf (>= 1.4.51)
Recommends: runuo-skeleton, sunuo-legacy-scripts
Suggests: sunuo-doc
Description: free Ultima Online server
 SunUO is a free Ultima Online server, based on RunUO.
 .
 Home page: http://www.sunuo.org/

Package: sunuo-dbg
Architecture: all
Depends: sunuo (= ${Source-Version})
Enhances: sunuo (= ${Source-Version})
Description: free Ultima Online server
 SunUO is a free Ultima Online server, based on RunUO.
 .
 This package contains the debug file.
 .
 Home page: http://www.sunuo.org/

Package: sunuo-doc
Section: doc
Architecture: all
Description: free Ultima Online server
 SunUO is a free Ultima Online server, based on RunUO.
 .
 This package contains documentation.
 .
 Home page: http://www.sunuo.org/
